﻿<meta http-equiv="refresh" content="10">


@{
    ViewBag.Title = "Monitor";
}

<h2>Monitor</h2>

<h3></h3>

<div>
    <div>
        <b><i>Estado actual de los servicios web</i></b>
    </div>
    <br />
    <br />
    <!--
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" id="panel-title">WS Pais<a class="anchorjs-link" href="#panel-title"><span class="anchorjs-icon"></span></a></h3>
        </div>
        <div class="panel-body">
            @ViewBag.statuspais
        </div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" id="panel-title">WS Ciudad<a class="anchorjs-link" href="#panel-title"><span class="anchorjs-icon"></span></a></h3>
        </div>
        <div class="panel-body">
            @ViewBag.statusciudad
        </div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" id="panel-title">WS Vuelo<a class="anchorjs-link" href="#panel-title"><span class="anchorjs-icon"></span></a></h3>
        </div>
        <div class="panel-body">
            @ViewBag.statusvuelo
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" id="panel-title">WS Hoteles<a class="anchorjs-link" href="#panel-title"><span class="anchorjs-icon"></span></a></h3>
        </div>
        <div class="panel-body">
            @ViewBag.statushoteles
        </div>
    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title" id="panel-title">WS Categorias<a class="anchorjs-link" href="#panel-title"><span class="anchorjs-icon"></span></a></h3>
        </div>
        <div class="panel-body">
            @ViewBag.statuscategorias
        </div>
    </div>
    -->



    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>State</th>
                <th>Service</th>
                <th>WSDL</th>                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                
                @if (ViewBag.statuspais == "running")
                    {
                        <a href="#" class="btn btn-success btn-xs">Running</a>
                    }
                else
                {
                    <a href="#" class="btn btn-danger btn-xs">Down</a>
                }
                </td>
                <td>WS Pais</td>
                <td><a href="http://localhost:8080/viajessoap/ws_pais?wsdl">localhost:8080/viajessoap/ws_vuelo?wsdl</a></td>
            </tr>
            <tr>
                <td>@if (ViewBag.statusciudad == "running")
                {
                    <a href="#" class="btn btn-success btn-xs">Running</a>
                }
                else
                {
                    <a href="#" class="btn btn-danger btn-xs">Down</a>
                }</td>
                <td>WS Ciudad</td>
                <td><a href="http://localhost:8080/viajessoap/ws_ciudad?wsdl">localhost:8080/viajessoap/ws_ciudad?wsdl</a></td>
            </tr>
            <tr>
                <td>@if (ViewBag.statusvuelo == "running")
                {
                    <a href="#" class="btn btn-success btn-xs">Running</a>
                }
                else
                {
                    <a href="#" class="btn btn-danger btn-xs">Down</a>
                }</td>
                <td>WS Vuelo</td>
                <td><a href="http://localhost:8080/viajessoap/ws_vuelo?wsdl">localhost:8080/viajessoap/ws_vuelo?wsdl</a></td>
            </tr>
            <tr>
                <td>@if (ViewBag.statushoteles == "running")
                {
                    <a href="#" class="btn btn-success btn-xs">Running</a>
                }
                else
                {
                    <a href="#" class="btn btn-danger btn-xs">Down</a>
                }</td>
                <td>WS Hoteles</td>
                <td><a href="http://localhost:8080/VacacionesSOAP/ws_hoteles?wsdl">localhost:8080/VacacionesSOAP/ws_hoteles?wsdl</a></td>
            </tr>
            <tr>
                <td>@if (ViewBag.statuscategorias == "running")
                {
                    <a href="#" class="btn btn-success btn-xs">Running</a>
                }
                else
                {
                    <a href="#" class="btn btn-danger btn-xs">Down</a>
                }</td>
                <td>WS Categorias</td>
                <td><a href="http://localhost:8080/VacacionesSOAP/ws_categorias?wsdl">localhost:8080/VacacionesSOAP/ws_categorias?wsdl</a></td>
            </tr>

        </tbody>
    </table> 
</div>
